<%= form_with model: @profile_form, url: profile_path, method: method, class: "space-y-6",local: true do |f| %>
  <div class="space-y-1">
    <%= f.label 'ユーザーネーム' %>
    <div class="mt-1">
      <%= f.text_field :user_name, class: "block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:border-transparent focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 focus:ring-offset-gray-300 border-gray-500" %>
    </div>
  </div>
  <div class="space-y-1">
    <%= f.label '住んでいる場所' %>
    <div class="mt-1">
      <%= f.collection_select :city_id, @cities, :id, :city_name, class: "block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:border-transparent focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 focus:ring-offset-gray-300 border-gray-500" %>
    </div>
  </div>
  <div class="space-y-1">
    <%= f.label '収入' %>
    <div class="mt-1">
      <%= f.number_field :income, class: "block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:border-transparent focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 focus:ring-offset-gray-300 border-gray-500" %>
    </div>
  </div>
  <div class="space-y-1" id="children_age_form">
    <%= f.label '子供の年齢' %>
    <div class="mt-1" id="children_age">
      <%= number_field_tag "profile_form[age][]", nil, class: "children-age-form block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:border-transparent focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 focus:ring-offset-gray-300 border-gray-500" %>
      <%= number_field_tag "profile_form[age][]", nil, class: "children-age-form block w-full px-5 py-3 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:border-transparent focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 focus:ring-offset-gray-300 border-gray-500" %>
    </div>
    <div>
      <button type="button" id="child-age-input-plus" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
        枠を追加
      </button>
      <button type="button"  id="child-age-input-minus" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
        枠の削除
      </button>
    </div>
  </div>
  <%= f.submit '登録する', class: "flex items-center justify-center w-full px-10 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
<% end %>
<div class="flex items-center justify-between">
  <div class="text-sm">
    <%= link_to "トップページへ", top_index_path, { class: "font-medium text-blue-600 hover:text-blue-500 mr-2" } %>
  </div>
</div>
