<h1>プロフィール編集</h1>
<%= form_with model: @user, url: profile_path, local: true do |user_f| %>
  <div class="form-group grid-cols-2">
    <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
      <%= user_f.label "ユーザーネーム" %>
      <%= user_f.text_field :user_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
      <%= user_f.label "住んでいる場所" %>
      <%= user_f.collection_select :city_id, @cities, :id, :city_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
      <%= user_f.label '収入' %>
      <%= user_f.number_field :income, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>

    <%= user_f.fields_for :children do |child_f| %>
      <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        <%= child_f.label '子供の年齢' %>
        <%= child_f.number_field :age, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
    <% end %>
    <%= user_f.submit '更新する', class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>
<% end %>
<%= link_to "トップページへ", top_index_path %>