<h1 class="text-xl font-bold mb-2">ログインページ</h1>
<%= form_with url: login_path, local: true do |f| %>
  <div class="form-group grid-cols-2">
    <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
      <%= f.label "メールアドレス" %>
      <%= f.text_field :email, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/6 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
      <%= f.label "パスワード" %>
      <%= f.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/6 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <%= f.submit 'ログイン', class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>
<% end %>
<%= link_to "新規登録へ", new_user_path %>
<%= link_to "トップページへ", top_index_path %>