<p class="text-xl my-3">あなたが利用できる支援は、<%= conditions_supports.count %>件です。</p>
<% conditions_supports.each do |conditions_support| %>
  <section class="mb-6">
    <div class="max-w-7xl px-8 py-4 bg-white rounded-lg shadow-md dark:bg-gray-800">

      <div class="flex items-center border-black-600">
        <% conditions_support.support.tags.each do |tag| %>
          <p class="px-3 py-1 mr-3 text-sm font-bold text-gray-100 transition-colors bg-<%= tag.decorate.color %>-400 rounded">
              <%= tag.name %>
          </p>
        <% end %>
      </div>

      <div class="mt-2">
        <%= link_to "#{conditions_support.support.support_name}", top_path(conditions_support.support), class: "text-2xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline" %>
      </div>
      <div class="flex items-center justify-between mt-4">
          <%#= link_to "公式サイト", conditions_support.support.url, class: "text-blue-600 dark:text-blue-400 hover:underline" %>
          <div class="font-bold text-gray-700 cursor-pointer dark:text-gray-200">
            <% if conditions_support.support.application_limit.empty? %>
              <%= "締め切り： なし" %>
            <% else %>
              <%= "締め切り：" + conditions_support.support.application_limit %>
            <% end %>
          </div>
      </div>
    </div>
  </section>
<% end %>
