<%= form_with model: @conditions_support do |f| %>
  <div class="flex flex-row space-x-4 mx-1 mb-3">
    <%= hidden_field_tag "support_id", support_id %>
    <div class="flex-1">
      <%= label_tag "city", "地区名", class: "block mb-2 text-xl font-medium text-gray-600 dark:text-gray-300" %>
      <%= select_tag "city", options_from_collection_for_select(@cities, "id", "city_name"), include_blank: true, class: "block mb-4 p-4 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="flex-1">
      <%= label_tag "public_assistance", "生活保護", class: "block mb-2 text-xl font-medium text-gray-600 dark:text-gray-300" %>
      <%= select_tag "public_assistance", options_from_collection_for_select(@public_assistance, "id", "status"), include_blank: true, class: "block mb-4 p-4 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="flex-1">
      <%= label_tag "children_counts", "子供の数", class: "block mb-2 text-xl font-medium text-gray-600 dark:text-gray-300" %>
      <%= select_tag "children_counts", options_from_collection_for_select(@children_counts, "id", "status"), include_blank: true, class: "block mb-4 p-4 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="mt-10" >
      <%= f.submit "条件変更", class: "px-6 py-3 text-xl bg-yellow-600 text-white font-semibold rounded hover:bg-yellow-500", id: "change-condition-button" %>
    </div>
  </div>
<% end %>
