<h1>データ一覧</h1>
<% if logged_in? %>
  <%= link_to 'ログアウト', logout_path, method: :delete %>
  <% if current_user.user_name? %>
    <p><%= link_to "#{current_user.user_name}さん", profile_path %></p>
  <% else %>
    <p><%= link_to "#{current_user.last_name}さん", profile_path %></p>
  <% end %>
<% else %>
  <%= link_to 'ログイン', login_path %>
<% end %>
<%= render "search_form" %>
<%= render partial: "table", locals: { supports: @supports } %>
