<h1>制度詳細</h1>
<div>
  <div><%= @support.support_name %></div>
  <div><%= @support.content %></div>
  <div><%= @support.application_method %></div>
  <div><%= @support.application_limit %></div>
  <div><%= link_to "公式サイト", @support.url %></div>
</div>
